DATABASE_URL="postgresql://postgres.xloebtbeyylsiwwtehth:*****@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.xloebtbeyylsiwwtehth:****@aws-1-eu-west-1.pooler.supabase.com:5432/postgres"

ROOT_ADMIN_USER="*****"
ROOT_ADMIN_PASSWORD="*****"

STRIPE_SECRET_KEY="****"
STRIPE_CALLBACK_URL="*****"

OPEN_AI_API_KEY='******'
OPEN_AI_MODEL="amazon/nova-2-lite-v1:free"
OPEN_AI_BASE_URL="https://openrouter.ai/api/v1"
